{% extends './base.html' %} 
{% block title%}
Home
{% endblock %}

{%block body%} 
    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
        <div class="container" data-aos="fade-up">
  
          <div class="section-header">
            <h2>Our Team</h2>
            <p>The Team full of enthusiasm and energy . We together  ready to solve each and every problem arises during or after developement of application.</p>
          </div>
  
          <div class="row gy-5">
  
            <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-in" data-aos-delay="600">
                <div class="team-member">
                  <div class="member-img">
                    <img src="static/img/team/team-3.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="member-info">
                    <div class="social">
 
                      <a href=""><i class="bi bi-facebook"></i></a>
                      <a href=""><i class="bi bi-instagram"></i></a>
                      <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                    <h4>Naman Tiwari</h4>
                    <span>0187CS191097</span>
                  </div>
                </div>
              </div><!-- End Team Member -->

            <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-in" data-aos-delay="200">
              <div class="team-member">
                <div class="member-img">
                  <img src="static/img/team/ritik.jpg" class="img-fluid" alt="">
                </div>
                <div class="member-info">
                  <div class="social">
 
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                  <h4>Ritik Raghuwanshi</h4>
                  <span>0187CS191137</span>
                </div>
              </div>
            </div><!-- End Team Member -->
  
            <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-in" data-aos-delay="400">
              <div class="team-member">
                <div class="member-img">
                  <img src="static/img/team/ritu.jpg" class="img-fluid" alt="">
                </div>
                <div class="member-info">
                  <div class="social">
 
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                  <h4>Ritu kumari</h4>
                  <span>0187CS191137</span>
                </div>
              </div>
            </div><!-- End Team Member -->
  
            <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-in" data-aos-delay="600">
              <div class="team-member">
                <div class="member-img">
                  <img src="static/img/team/vivek.jpg" class="img-fluid" alt="">
                </div>
                <div class="member-info">
                  <div class="social">
 
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                  <h4>Vivek Singh</h4>
                  <span>0187CS191184</span>
                </div>
              </div>
            </div><!-- End Team Member -->

  
          </div>
  
        </div>
      </section><!-- End Team Section -->
{% endblock %}